.sticky {
  position: sticky;
  top: 0;
  background-color: #fafafa;
  box-shadow: 8px 8px 12px #ccc;
  border-radius: 8px;
  padding: 10px 15px;
}

.filter-group {
  gap: 1rem;
  flex-wrap: wrap;

  select, input[type="search"] {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: transparent;
    padding: 10px;
  }

  input[type="search"] {
    width: 100%;
  }
}