#sidebar {
  position: sticky;
  top: 0;
  max-height: 100svh;
  width: 20rem;
  flex-shrink: 0;
  background-color: #2C3E50;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

@media (prefers-reduced-motion: no-preference) {
  #sidebar {
    transition: width 400ms ease;
  }

  #sidebar:has([aria-expanded="true"]) .nav-btn > span {
    transition: opacity 400ms ease 400ms, transform 400ms ease 400ms;
  }
}

#sidebar:has([aria-expanded="false"]) {
  width: calc(4rem + 25px);
}

#sidebar:has([aria-expanded="false"]) .nav-list {
  padding-right: 1rem;
}

#sidebar:has([aria-expanded="true"]) .nav-btn > span {
  transform: translateX(0);
  opacity: 1;
}

#sidebar:has([aria-expanded="false"]) .nav-btn > span {
  opacity: 0;
  position: absolute;
  z-index: -1;
  transform: translateX(-35px);
}

.logo {
  display: block;
  margin: 2rem;
}

.logo > img {
  width: 25px;
  aspect-ratio: 1;
}

#sidebar-toggle {
  margin-top: auto;
  width: 100%;
  border: 0;
  padding: 15px 10px;
  cursor: pointer;
  background-color: #22303d;
}

#sidebar-toggle > svg {
  fill: #fff;
  transform: scale(1.6);
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-right: 2rem;
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border: 0;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  padding-block: 10px;
  padding-left: 2rem;
  width: 100%;
  text-align: left;
  border-radius: 0 12px 12px 0;
}

.nav-btn > svg {
  fill: #fff;
  width: 25px;
  flex-shrink: 0;
  aspect-ratio: 1;
}

.nav-btn > span {
  white-space: nowrap;
}


.nav-btn[aria-selected="true"] {
  background-color: #fff;
  color: #2C3E50;
}
.nav-btn[aria-selected="true"]:focus-visible {
  outline-offset: 4px;
  outline-color: #fff;
  outline-width: 2px;
  outline-style: dashed;
}
.nav-btn[aria-selected="true"] > svg {
  fill: #2C3E50;
}