* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", serif;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-light-gray {
  background-color: #fafafa;
}

.txt-size-xl {
  font-size: x-large;
}

.txt-gray {
  color: #00152999;
}

.input {
  width: 100%;
  margin-block: 0.5rem;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.container {
  display: flex;
  min-height: 100vh;
  gap: 0;
}

main {
  flex-basis: 100%;
  background-color: #ECF0F1;
  padding: 2rem;
}